.relative {
    position: relative;
}

#searchApiResults {
    z-index: 1000; /* Ensures the results frame is above other content */
    width: 100%; /* Takes the full width of the parent container */
    top: 100%; /* Positions it right below the search box */
}

@media (min-width: 640px) {
    #searchApiResults {
        /* For medium and larger screens, set a fixed width */
        min-width: 24rem;
    }
}

.search-result-item {
    display: flex;
    justify-content: space-between; /* Spread items to extreme ends */
    align-items: center; /* Align items vertically centered */
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.search-result-item img.thumbnail {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.search-result-item .content {
    flex: 1; /* Take available width */
}

.search-result-item .content p {
    margin: 5px 0;
}

.search-result-item:hover {
    background-color: #f9f9f9;
}


/* CSS to style the button */
.more-results-button {
    background-color: #008CBA; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 20px; /* Adjusted padding for consistency */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Pointer/hand icon on hover */
    border-radius: 4px; /* Rounded corners */
    transition-duration: 0.4s; /* 0.4 second transition effect to hover state */
    align-self: flex-start; /* Optional: To align the button start if content height is big*/
}

/* Hover effects */
.more-results-button:hover {
    background-color: white; /* White background */
    color: #008CBA; /* Blue text */
    border: 2px solid #008CBA; /* Blue border */
}
